# RAG with Excel

In this notebook, we will learn how to use excel files to create fast, accurate RAG pipelines using SQL agents!

As an example, we will use two sample excel files with over 1000+ rows.

Let's begin by learning how we can load an excel file into our program using **pandas**, and then turn the loaded excel file into a database with **sqlite3**!

In [47]:
import pandas as pd

# We can use the read_excel method to read data from an Excel file
dataframe = pd.read_excel('files/Change Order Report Test Team Toolshed.xlsx')

# Let's check out the first 5 rows from our Excel file
dataframe.head()

,Cost_Center,Project_Manager,Customer_Code,Job_Number,Original_Contract,Change_Orders,Revised_Contract,Date
0,2040,209012,ACIC100,402400056,9629,-2408.0,7221.0,NaN
1,2035,209024,ROTH100,352400019,221100,1613.0,222713.0,NaN
2,4080,400013,INSP200,802400022,120000,6594.0,126594.0,NaN
3,2034,209014,LAMA610,342400332,133000,2675.0,135675.0,NaN
4,2060,109007,CLEV100,602400108,21750,-250.0,21500.0,NaN

In [48]:
df = dataframe.drop(columns=['Date'])
print("Before lowercasing:", df.columns)
df.columns = df.columns.str.lower()
print("After lowercasing:", df.columns)
df.head()

Before lowercasing: Index(['Cost_Center', 'Project_Manager', 'Customer_Code', 'Job_Number',
       'Original_Contract', 'Change_Orders', 'Revised_Contract'],
      dtype='object')
After lowercasing: Index(['cost_center', 'project_manager', 'customer_code', 'job_number',
       'original_contract', 'change_orders', 'revised_contract'],
      dtype='object')

,cost_center,project_manager,customer_code,job_number,original_contract,change_orders,revised_contract
0,2040,209012,ACIC100,402400056,9629,-2408.0,7221.0
1,2035,209024,ROTH100,352400019,221100,1613.0,222713.0
2,4080,400013,INSP200,802400022,120000,6594.0,126594.0
3,2034,209014,LAMA610,342400332,133000,2675.0,135675.0
4,2060,109007,CLEV100,602400108,21750,-250.0,21500.0

In [49]:
# We can check out the length of the dataframe
len(df)

34

Now that we have our dataframe, we can use it to create a local SQL database using sqlite.

In [50]:
import psycopg2

# Replace these with your actual Retool credentials
conn = psycopg2.connect(
    dbname='retool',
    user='retool',
    password='o9WthgrlDXx7',
    host='ep-rough-king-a68rjqgq.us-west-2.retooldb.com',
    port='5432'
)

In [51]:
from sqlalchemy import create_engine

# PostgreSQL connection URL
engine = create_engine('postgresql+psycopg2://retool:o9WthgrlDXx7@ep-rough-king-a68rjqgq.us-west-2.retooldb.com:5432/retool')

# Write the dataframe to a new table (replace 'your_table' as needed)
df.to_sql('change_order_reports', engine, schema='public', if_exists='replace', index=False)

34

In [52]:
import google.generativeai as genai
import dotenv
import os

# We use dotenv to load our API key from a .env file
dotenv.load_dotenv()

# Set up Gemini to use our API key
genai.configure(api_key=os.getenv('GEMINI_API_KEY'))

# Let's create a Gemini client
gemini = genai.GenerativeModel("gemini-1.5-flash")

In [53]:
# Test out the model by generating some text
text = gemini.generate_content("Tell me something interesting about Pakistan").text
print(text)

Pakistan is home to the world's highest polo ground, located in Shandur, in the Chitral District.  The Shandur Polo Festival is a major event, drawing players and spectators from across the region and showcasing a unique and breathtaking game played at a stunning altitude.

Now that we have our LLM set up and running, we can finally get to the meat of the problem.

How can we set up our LLM to answer questions from our SQL database?

Easy. Let's create a **function call** that allows our LLM to interact with our database. This feature is not unique to Gemini, all of the top providers offer equivalent functionality.

However, Gemini has some great Quality of Life features that makes this process very simple. For example. we can define a function call with a standard python function:

In [54]:
def sql_query(query: str):
    """Run a SQL SELECT query on the Retool PostgreSQL database and return results."""
    with engine.connect() as connection:
        return pd.read_sql_query(query, connection).to_dict(orient='records')

In [55]:
import json
import pandas as pd  # Make sure pandas is imported
from sqlalchemy import create_engine  # If not already

# Target table
table_name = 'change_order_reports'

# Query for that table's schema
query = f"""
select 
    column_name, 
    data_type
from information_schema.columns
where table_schema = 'public' and table_name = '{table_name}'
order by ordinal_position;
"""

df = pd.read_sql(query, engine)

# Convert to LLM-style schema format with lowercase column names
table_schema = {
    "table": table_name,
    "columns": [
        {"name": row['column_name'].lower(), "type": row['data_type']}
        for _, row in df.iterrows()
    ]
}

# Print for system prompt use
print(json.dumps([table_schema], indent=4))

[
    {
        "table": "change_order_reports",
        "columns": [
            {
                "name": "cost_center",
                "type": "bigint"
            },
            {
                "name": "project_manager",
                "type": "text"
            },
            {
                "name": "customer_code",
                "type": "text"
            },
            {
                "name": "job_number",
                "type": "bigint"
            },
            {
                "name": "original_contract",
                "type": "bigint"
            },
            {
                "name": "change_orders",
                "type": "double precision"
            },
            {
                "name": "revised_contract",
                "type": "double precision"
            }
        ]
    }
]

However, for the LLM to be able to generate relevant queries, it needs to know the schema of the database.

We can address this by supplying a description of our database to the LLM before it calls the function.

There are many ways to supply the database schema, including some more advanced methods using RAG or Agents.
However, for this example we will use the simple strategy of providing the database schema in JSON format in the system prompt.

In [56]:
system_prompt = f"""
You are an expert SQL analyst. When appropriate, generate SQL queries based on the user question and the database schema.
When you generate a query, use the 'sql_query' function to execute the query on the database and get the results.
Then, use the results to answer the user's question.

database_schema: [{table_schema}]
""".strip() # Call strip to remove leading/trailing whitespace
print(system_prompt)

You are an expert SQL analyst. When appropriate, generate SQL queries based on the user question and the database schema.
When you generate a query, use the 'sql_query' function to execute the query on the database and get the results.
Then, use the results to answer the user's question.

database_schema: [{'table': 'change_order_reports', 'columns': [{'name': 'cost_center', 'type': 'bigint'}, {'name': 'project_manager', 'type': 'text'}, {'name': 'customer_code', 'type': 'text'}, {'name': 'job_number', 'type': 'bigint'}, {'name': 'original_contract', 'type': 'bigint'}, {'name': 'change_orders', 'type': 'double precision'}, {'name': 'revised_contract', 'type': 'double precision'}]}]

In [57]:
# Let's create a new Gemini instance with the SQL query function and the system prompt
sql_gemini = genai.GenerativeModel(model_name="gemini-1.5-flash", tools=[sql_query], system_instruction=system_prompt)

Gemini provides a nice interface that abstract most details of managing the conversation history away from you.

We will use that feature first, but afterwards we will manage the conversation history manually as I believe it is more informative.

### Automatic version

In [58]:
# We begin our chat with Gemini and allow it to use tools when needed
chat = sql_gemini.start_chat(enable_automatic_function_calling=True)

# Let's ask our first question
chat.send_message("Can you tell me what's the Original_Contract amount for Job_Number : 402400056").text

'The original contract amount for Job Number 402400056 is 9629.\n'

In [59]:
chat.send_message("Can you give me average original contact amount?").text

'The average original contract amount is 70218.5.\n'

### Manual Version

Let's start by creating the message history for our conversation.

In [60]:
messages = [
    {"role": "user",
     "parts": ["What job has the highest original contract amount?"]},
]

In [61]:
response = sql_gemini.generate_content(messages)
response

response:
GenerateContentResponse(
    done=True,
    iterator=None,
    result=protos.GenerateContentResponse({
      "candidates": [
        {
          "content": {
            "parts": [
              {
                "function_call": {
                  "name": "sql_query",
                  "args": {
                    "query": "SELECT job_number FROM change_order_reports ORDER BY original_contract DESC LIMIT 1;"
                  }
                }
              }
            ],
            "role": "model"
          },
          "finish_reason": "STOP",
          "avg_logprobs": -0.05044054985046387
        }
      ],
      "usage_metadata": {
        "prompt_token_count": 215,
        "candidates_token_count": 24,
        "total_token_count": 239
      },
      "model_version": "gemini-1.5-flash"
    }),
)

The advantage of doing this manually is getting full control and visibility over the entire process. For example, we can inspect the sql query made by the LLM before it is run.

In [62]:
query = response.parts[0].function_call.args["query"]
query

'SELECT job_number FROM change_order_reports ORDER BY original_contract DESC LIMIT 1;'

Then we can use the generated args with out real function.

In [63]:
results = sql_query(query)
results

[{'job_number': 352400313}]

Now we can pass the results of the function back to the model to generate the final response.

In [64]:
from google.protobuf.struct_pb2 import Struct

# Sadly for this part Gemini requires a lot of boilerplate.
s = Struct()
s.update({"result": results})

function_response = genai.protos.Part(
    function_response=genai.protos.FunctionResponse(name="sql_query", response=s)
)

# Let's extend our message list with the function call and function results
messages.extend([
    {"role": "model",
     "parts": response.parts},
    {"role": "user",
     "parts": [function_response]}
     ])

In [65]:
sql_gemini.generate_content(messages).text

'The job with the highest original contract amount is job number 352400313.\n'

That's all folks.